:root{
  --color-1: #ea272d;
  --color-2: #ff5e64;
  --gradient-bg: linear-gradient(to bottom right, #252525, #050505);
  --gradient-bg2: linear-gradient(to bottom right, #ff5e64, #ea272d);
  --gradient-bg3: linear-gradient(to bottom right, rgba(255,255,255,0.25), rgba(0,0,0,0.4));
}
ul {
  list-style: none;
  margin: 0px;
}

p {
  font-size: 13px;
  line-height: 24px;
}

.section-heading h2 {
  margin-top: 0px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  color: #121212;
}

.page-direction-button a {
  display: inline-block;
  line-height: 60px;
  width: 270px;
  height: 60px;
  border-radius: 5px;
  background-color: #ea272d;
  font-size: 18px;
  font-weight: 700;
  color: #181818;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0px;
  margin-bottom: 5em;
}

.page-direction-button a i {
  margin-right: 5px;
  font-size: 20px;
}

.btn#form-submit a {
  color: #121212;
}

.page-direction-button:hover a,
.btn#form-submit:hover,
.btn#form-submit:hover a {
  color: #fdfdfd;
}

.primary-button a {
  text-decoration: none;
  margin-top: 15px;
  width: auto;
  padding: 0px 18px;
  height: 36px;
  background-color: #ea272d;
  font-size: 13px;
  color: #121212;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  line-height: 36px;
}

.owl-pagination {
  margin-top: -95px;
  opacity: 1;
  display: inline-block;
  position: absolute;
  right: 0px;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.25);
  height: 80px;
  line-height: 80px;
  padding: 0px 15px;
}

.owl-page span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #ea272d;
}

.banner .social-links {
  list-style: none;
  margin-top: 0px;
  padding-right: 100px;
}

.banner .social-links li {
  display: block;
  text-align: center;
  margin: 10px 0px;
  transition: all 0.5s;
}

.banner .social-links a {
  display: block;
  transition: all 0.5s;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  background-color: #181818;
}

.banner .social-links a em {
  font-style: normal;
  font-weight: 700;
}

.banner .social-links a i {
  float: right;
  background-color: rgba(250, 250, 250, 0.2);
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 36px;
  transition: all 0.5s;
}

.banner .social-links li:hover {
  background-color: rgba(255, 225, 255, 0.5);
}

.banner .social-links li:hover i {
  /* background-color: rgba(234, 39, 45, 0.5); */
  background-color: #ea272d;
}

.banner {
  background-image: url(../img/party_6.jpg);
  /* height: 80vh; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.banner .left-side {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  margin-left: -100vh;
  padding-left: 100vh;
}

.banner .page-direction-button {
  margin-top: 120px;
}

.banner .logo img {
  padding-top: 60px;
  max-width: 100%;
}

.banner .tabs-content {
  margin-top: 120px;
}

.banner .tabs-content h4 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}

.banner .submit-form {
  text-align: left;
  margin: 155px 0px;
  background-color: #181818;
  padding: 30px;
}

.submit-form h4 {
  color: #fff;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: inline-block;
  border-bottom: 1px solid #dbdada;
}

.submit-form h3 {
  color: #dfdfdf;
  width: 100%;
  font-size: 16px;
  /* font-weight: 700; */
  /* margin-top: 0px; */
  /* margin-bottom: 20px; */
  /* padding-bottom: 20px; */
  /* display: inline-block; */
  /* border-bottom: 1px solid #dbdada; */
}

.submit-form h4 em {
  font-style: normal;
}

.submit-form label {
  margin-top: 10px;
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  color: #f8f8f8;
}

.submit-form select {
  margin-bottom: 10px;
  width: 100%;
  height: 36px;
  border: none;
  background-color: #282828;
  font-size: 13px;
  color: #9a9a9a;
  outline: none;
  padding: 0px 10px;
  display: inline-block;
}

.submit-form .ticketNumber,
.submit-form .paypalID {
  margin-bottom: 10px;
  width: 100%;
  height: 36px;
  border: none;
  background-color: #282828;
  font-size: 13px;
  color: #9a9a9a;
  outline: none;
  padding-left: 15px;
  margin-left: 0px;
  display: inline-block;
  box-shadow: none;
  border-radius: 0px;
}

.submit-form input {
  margin-top: 12px;
  margin-left: 5px;
  cursor: pointer;
}

/* .submit-form .formStep{
  display: none;
} */

.submit-form .formStep,
.submit-form .formStep .stepOptions{
  display: none;
}

.submit-form .formStep.active,
.submit-form .formStep.active .stepOptions.active {
  display: block;
}

.submit-form .radio-select {
  margin-top: 15px;
}
.submit-form .radio-select .t-type{
	display: flex;
	justify-content: space-between;
}

.submit-form button {
  margin-top: 15px;
  width: 100%;
  height: 36px;
  background-color: #ea272d;
  font-size: 13px;
  color: #121212;
  font-weight: 600;
  border-radius: 2px;
}

.services {
  margin-top: 100px;
}

.services .service-item {
  /* background-color: #181818; */
  background: var(--gradient-bg);
  color: #fff;
  padding: 60px 30px 20px 30px;
  text-align: center;
  transition: all 0.5s;
}

.service-item h4 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #f0f0f0;
  transition: all 0.5s;
}

.service-item .service-icon {
  margin: 0 auto;
  background-repeat: no-repeat;
  display: inline-block;
  width: 64px;
  height: 64px;
  text-align: center;
  transition: all 0.5s;
}

.ZeDeX-service .service-icon {
  font-size: 5rem;
  transition: all 0.5s;
}

.service-item:hover {
  color: #efefef;
  /* background-color: #ea272d; */
  background: var(--gradient-bg2);
}

.service-item:hover h4,
.service-item:hover .service-icon,
.service-item:hover {
  color: #181818;
}

#recommended-hotel {
  margin-top: 100px;
  padding: 80px 0px;
}

#recommended-hotel .tabs {
  list-style: none;
  margin-top: 0px;
  padding-right: 0px;
}

#recommended-hotel .tabs li:first-child {
  margin-top: 0px;
}

#recommended-hotel .tabs li {
  display: block;
  text-align: center;
  margin: 8px 0px;
}

#recommended-hotel .tabs a {
  display: block;
  transition: all 0.5s;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  background-color: #181818;
	transition: all 0.5s;
}

#recommended-hotel .tabs a em {
  font-style: normal;
  font-weight: 700;
}

#recommended-hotel .tabs a i {
  float: right;
  background-color: rgba(250, 250, 250, 0.2);
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 36px;
}

#recommended-hotel .tabs .active,
#recommended-hotel .tabs .active:hover {
	background-color: #ea272d;
  color: #121212;
	transition: all 0.5s;
}

#recommended-hotel .tabs a:hover{
	background-color: #ff5e64;
	/* background-color: rgba(234, 39, 45, 0.8); */
	color: #121212;
}

#recommended-hotel .tabs .active i {
  background-color: rgba(255, 255, 255, 0.3);
}

.recommendedgroup img {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* #livingroom {
  width: 100%;
  text-align: center;
  height: 400px !important;
}

#livingroom iframe {
  border: none;
} */

#swimingpool .text-content,
#massage .text-content,
#livingroom .text-content,
#fitness .text-content,
#event .text-content {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  right: 15px;
  left: 15px;
  height: 80px;
  overflow: hidden;
  color: #fff;
  padding-left: 20px;
}

#owl-suiteroom {
  height: 400px;
}
#swimingpool .text-content h4,
#massage .text-content h4,
#livingroom .text-content h4,
#fitness .text-content h4,
#event .text-content h4 {
  font-size: 19px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #fdfdfd;
}

#swimingpool .text-content span,
#fitness .text-content span,
#livingroom .text-content span,
#event .text-content span,
#massage .text-content span {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5px;
}

.suiteroom-item .text-content {
  /* background-color: rgba(31, 54, 70, 0.9); */
  /* background-color: rgba(234, 39, 45, 0.2); */
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  right: 0px;
  left: 0px;
  height: 80px;
  overflow: hidden;
  color: #fff;
  padding-left: 20px;
}

.suiteroom-item .text-content h4 {
  font-size: 19px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #fdfdfd;
}

.suiteroom-item .text-content span {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5px;
}

#most-visited {
  margin-top: 100px;
  margin-bottom: 100px;
}

.visited-item {
  /* box-shadow: 0px 5px 15px #ddd; */
  margin-bottom: 30px;
}

.visited-item .text-content {
  /* background-color: #181818; */
  background: var(--gradient-bg);
  padding: 15px;
  transition: all .5s ease-in-out;
}
.visited-item:hover .text-content {
  /* background-color: #181818; */
  /* background: var(--gradient-bg2); */
  /* background: rgba(255, 255, 255, 0.1); */
  background: var(--gradient-bg3);
}

.visited-item img {
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  transition: all .3s ease-in-out;
}

.visited-item h4 {
  margin-top: 0px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.visited-item span {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ea272d;
}

#owl-mostvisited .owl-pagination {
  margin-top: 20px;
  opacity: 1;
  display: inline-block;
  position: relative;
  text-align: center;
  z-index: 9999;
  background-color: transparent;
  height: 0px;
  line-height: 0px;
  padding: 0px;
}

#owl-mostvisited .owl-page span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #ddd;
}

#owl-mostvisited .owl-controls .owl-page.active span,
#owl-mostvisited .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100); /*IE7 fix*/
  opacity: 1;
  display: inline-block;
  background: #ea272d;
}

.page-heading {
  background-image: url(../img/heading-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
}

.page-heading .logo {
  padding: 60px 0px;
  text-align: left;
}

.page-heading .page-direction-button {
  text-align: right;
  margin-top: 110px;
}

@media (max-width: 991px) {
  .banner .left-side {
    text-align: center;
    overflow: hidden;
    padding-left: 0vh;
    margin-left: -50vh;
    margin-right: -50vh;
    padding-right: 50vh;
    padding-left: 50vh;
  }

  .banner .social-links {
    list-style: none;
    margin-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .banner .page-direction-button {
    margin-top: 50px;
  }

  .banner .logo img {
    padding-top: 40px;
    max-width: 100%;
    /* height: 50px; */
    border-radius: 50%;
  }

  .banner .tabs-content {
    margin-top: 60px;
  }

  .banner .submit-form {
    margin: 30px 30px;
  }

  .service-item {
    margin: 30px 0px;
  }

  .page-heading .logo {
    padding: 60px 0px;
    text-align: center;
  }

  .page-heading .page-direction-button {
    text-align: center;
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
